# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_UNIBODY
    def_bool $(shields_list_contains,unibody)

config SHIELD_UNIBODY_DONGLE
    def_bool $(shields_list_contains,unibody_dongle)

